* {
  overflow-x: hidden;
}
body {
  margin: 0;
  min-height: 100vh;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: linear-gradient(rgba(0, 0, 0, 0.616),rgba(9, 43, 42, 0.67)),url(background/b2.jpg);
}

.about {
  display: block;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dog_picture_class{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.dog_pic {
  width: 100;
  height: auto;
  margin-right: 5em;
  border-radius: 10px;
}


.text h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  text-align: left;
}

.nav {
  display: flex;
  position: sticky;
  width: 100vw;
  overflow: hidden;
  background-color: #333;
}

.nav h1 {
  font-size: 30px;
  padding-left:35px;
  margin: left;
}

.nav h1 a {
  color:bisque;
  text-decoration: none;
  color: white;
}

.nav ul {
  display: block;
  gap: 3em;
  list-style: none;
  overflow: hidden;
  color: black;
  text-align: left;
  transition: 0.5s;
}

.nav li {
  display: inline-block;
  padding: 10px 10px;
  margin: 0 3px;
  margin-top: 10px;
}

.nav li a {
  text-decoration: none;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: 0.5s;
}

.nav ul li a:hover {
  background-color: gray;
  color: black;
}


h1 {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  color:white;
}



h2 {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-weight: 300;
  color:white;
}


@media screen and (max-width: 480px) {
  .dog_picture_class {
    flex-direction: column;
    align-items: center;
  }

  .dog_pic {
    width: 80%;
    height: auto;
    margin: 0 2em;
  }

  .text h2{
    text-align: center;
  }
}
