* {
  overflow-x: hidden;
}
body {
  margin: 0;
  min-height: 100vh;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: linear-gradient(rgba(0, 0, 0, 0.616),rgba(9, 43, 42, 0.67)),url(background/b1.jpg);
}

.profile_pic {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  margin: 5em;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.nav {
  display: flex;
  position: sticky;
  width: 100vw;
  overflow: hidden;
  background-color: #333;
}

.nav h1 {
  font-size: 30px;
  padding-left:35px;
  margin: left;
}

.nav h1 a {
  color:bisque;
  text-decoration: none;
  color: white;
}

.nav ul {
  display: block;
  gap: 3em;
  list-style: none;
  overflow: hidden;
  color: black;
  text-align: left;
  transition: 0.5s;
}

.nav li {
  display: inline-block;
  padding: 10px 10px;
  margin: 0 3px;
  margin-top: 10px;
}

.nav li a {
  text-decoration: none;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: 0.5s;
}

.nav ul li a:hover {
  background-color: gray;
  color: black;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 200;
  color:white;
}


